body {
  text-align: justify;
}

h3 {
  float: left;
  text-indent: 10px;
}

p {
  float: left;;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  width: 100%;
}

.column-third {
  width: 31%;
  float: left;
  margin: 5px;
  box-sizing: border-box;
  position: relative;
}

.column-two-thirds {
  width: 66.7%;
  float: left;
}

.column-third img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.after {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: rgba(255,255,255,0.8);
  top: 0px;
  display: none;
}

.after p {
  text-indent: 5px;
  font-weight: bold;
}

img:hover + .after{
  display: block;
}

@media only screen and (max-width: 768px) {
    .column-third {
        width: 45% !important;
    }
    .column-two-thirds {
      width: 100% !important;
    }
}

@media only screen and (max-width: 375px) {
    .column-third:first-of-type{
        width: 100% !important;
      }
}

@media only screen and (max-width: 320px) {
    [class^="column"] {
        width: 100% !important;
    }
}
