body {
    text-align: center;
    background-image: url("https://s-media-cache-ak0.pinimg.com/564x/cf/7e/fe/cf7efe2842312f0caadc5ea071601a3b.jpg");
    font-family: sans-serif, monospace;
    color: rgb(81, 67, 50);
}

.hidden {
    display: none;
}

.hiddenSection {
    clear: both;
}

header img {
    width: 320px;
    height: 213.5px;
    clear: both;
    background: rgb(255, 228, 196);
    border: 1px solid rgb(151, 153, 167);
    margin: 8px 0 0 20px;
    padding: 4px;
}

.repositories {
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(81, 67, 50);
    float: right;
    text-align: left;
    width: 30%;
}

.createTable {
    background-color: rgba(255, 228, 196, 0.8);
    float: left;
    text-align: left;
}

.content p {
    clear: both;
}

table {
	table-layout: auto;
	background-color: rgba(255, 228, 196, 0.8);
	padding: 5px;
    width: 70%;
    margin-top: 15px;
}

table tr td {
	border: 1px solid rgb(81, 67, 50);
	background-color: rgb(73, 73, 73, 0.9)
}

#jokeButton, #matrixButton, #searchButton {
      background-color: rgba(255, 228, 196, 0.8);
      font-family: sans-serif, monospace;
      float: center;
}

.labelImput {
    text-align: center;
}
