body {
    text-align: center;
    background: yellow;
}

.hidden {
    display: none;
}

section img {
    width: 320px;
    height: 213.5px;
    float: left;
}

.repositories {
    background-color: magenta;
    float: right;
    text-align: left;
}

.createTable {
    background-color: cyan;
    float: left;
    text-align: left;
}

.content {
    float: left;
}
